table {
    width: 50%;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: .2em .7em;
    text-align: right;
}

th:first-child{
    width: 45%;
}

th:nth-child(2) {
    width: 35%;
    text-align: center;
}

td:nth-child(2) {
    text-align: center;
}

th:nth-child(3) {
    width: 20%;
}

th.left, td.left {
    text-align: left;
}

thead, tfoot {
    background-color: lightgreen;
}

tfoot {
    font-weight: bold;
}

@media only screen and (max-width: 479px){
    th, td {
        display: block;
    }

    thead {
        display: none;
    }

    tr td:first-child{
        font-weight: bold;
        font-size: 110%;
        background-color: lightgreen;
    }

    tbody td{
        border-bottom-style: none;
    }

    tfoot {
        background-color: white;
        border: none;
        border-top: 1px solid black;
    }

    tfoot th, tfoot td:nth-of-type(1) {
        display: none;
    }

}